<div class="container">
  <form class="form-inline">
    <input (keyup)="$event" #recherche class="form-control mr-sm-2" type="text" placeholder="Search"
           aria-label="Search">
  </form>
</div>
<div class="container">
  <div *ngFor="let item of collection | filter:recherche.value" class="card">
    <div class="card-header">
      <span appState="item.state"></span>
      <span class="state-0" *ngIf="0 == item.state">A livrer</span>
      <span class="state-1" *ngIf="1 == item.state">En cours de livraison</span>
      <span class="state-2" *ngIf="2 == item.state">Commande livrée</span>
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ item.name }}</h4>
      <p class="card-text">{{ item.reference }}</p>
      <div *ngIf="2 != item.state">
        <button *ngIf="1 != item.state" class="btn btn-primary" (click)="changeState(item, 1)">En cours</button>
        <button class="btn btn-success" (click)="changeState(item, 2)">Livré</button>
      </div>
    </div>
  </div>
</div>
